STAGING_APP_NAME=""
PRODUCTION_APP_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
STAGING_S3_BUCKET=""
PRODUCTION_S3_BUCKET=""
STAGING_S3_PREFIX=""
PRODUCTION_S3_PREFIX=""
S3_REGION=""

# Mozfest Backups

## GuideBook API
GUIDEBOOK_KEY=""
GUIDE_ID=""

## AWS API
MOZFEST_AWS_ACCESS_KEY_ID=""
MOZFEST_AWS_SECRET_ACCESS_KEY=""
MOZFEST_S3_BUCKET=""

## VictorOps
VICTOROPS_KEY=""