[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"boto3" = "*"
attrs = "*"
click = "*"

[dev-packages]
python-coveralls = "*"
ipython = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
